﻿@using CommissionsApplication.WebUI.App_GlobalResources
@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
  ViewBag.Title = @Global.UsersView_Title;
}

@section scripts
{
  <script>
    require(["UsersView", "ResponsiblesView", "locales"], function(UsersView, ResponsiblesView, locales) {
      locales.load("@Url.Action("Locales", "Global")").done(function(locales) {
        var usersView = new UsersView(locales),
          responsiblesView = new ResponsiblesView(locales);

        usersView.render();
        responsiblesView.render();
      });
    });
  </script>
}

@Html.Hidden("users-url", Url.Action("Users"))
@Html.Hidden("user-add-url", Url.Action("UserAdd"))
@Html.Hidden("user-edit-url", Url.Action("UserEdit"))
@Html.Hidden("user-delete-url", Url.Action("UserDelete"))
@Html.Hidden("user-roles-url", Url.Action("UserRoles"))
@Html.Hidden("responsibles-url", Url.Action("Responsibles"))
@Html.Hidden("responsible-add-url", Url.Action("ResponsibleAdd"))
@Html.Hidden("responsible-edit-url", Url.Action("ResponsibleEdit"))
@Html.Hidden("responsible-delete-url", Url.Action("ResponsibleDelete"))

<div class="row-fluid">
  <div class="span8">
    <div id="users-grid"></div>
  </div>
  <div class="span4">
    <div id="responsibles-grid"></div>
  </div>
</div>