﻿@model CommissionsApplication.WebUI.Models.Concrete.ResponsibleEditModel

<div class="modal-header">
  <h4>@ViewBag.Title</h4>
</div>
<form>
  @Html.AntiForgeryToken()

  @Html.HiddenFor(x => x.ResponsibleId)
  @Html.HiddenFor(x => x.RowVersion)

  <div class="modal-body">
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.Name)
      </div>
      <div class="span8">
        @Html.TextBoxFor(x => x.Name, new {@class = "input-block-level"})
        @Html.ValidationMessageFor(x => x.Name, null, new {@class = "label label-important"})
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.Email)
      </div>
      <div class="span8">
        @Html.TextBoxFor(x => x.Email, new {@class = "input-block-level"})
        @Html.ValidationMessageFor(x => x.Email, null, new {@class = "label label-important"})
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.SelectedUserIds)
      </div>
      <div class="span8">
        @Html.ListBoxFor(x => x.SelectedUserIds, Model.UsersList, new {@class = "input-block-level multiselect"})
        @Html.ValidationMessageFor(x => x.SelectedUserIds, null, new {@class = "label label-important"})
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary" type="submit">Сохранить</button>
  </div>
</form>