﻿@using CommissionsApplication.WebUI.Helpers
@using CommissionsApplication.WebUI.Models.Concrete
@model CommissionsApplication.WebUI.Models.Abstract.IUserModel

<div class="modal-header">
  <h4>@ViewBag.Title</h4>
</div>
<form>
  @Html.AntiForgeryToken()

  @Html.HiddenFor(x => x.UserId)
  @Html.HiddenFor(x => x.RowVersion)

  <div class="modal-body">
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.Name)
      </div>
      <div class="span8">
        @Html.TextBoxFor(x => x.Name, new {@class = "input-block-level"})
        @Html.ValidationMessageFor(x => x.Name, null, new {@class = "label label-important"})
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.Login)
      </div>
      <div class="span8">
        @Html.TextBoxFor(x => x.Login, new {@class = "input-block-level"})
        @Html.ValidationMessageFor(x => x.Login, null, new {@class = "label label-important"})
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.Password)
      </div>
      <div class="span8">
        @if (Model is UserAddModel)
        {
          @Html.PasswordFor(x => (x as UserAddModel).Password, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => (x as UserAddModel).Password, null, new {@class = "label label-important"})
        }
        else
        {
          @Html.PasswordFor(x => x.Password, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.Password, null, new {@class = "label label-important"})
        }
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.RepeatPassword)
      </div>
      <div class="span8">
        @Html.PasswordFor(x => x.RepeatPassword, new {@class = "input-block-level"})
        @Html.ValidationMessageFor(x => x.RepeatPassword, null, new {@class = "label label-important"})
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.Email)
      </div>
      <div class="span8">
        @Html.TextBoxFor(x => x.Email, new {@class = "input-block-level"})
        @Html.ValidationMessageFor(x => x.Email, null, new {@class = "label label-important"})
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.UserRole)
      </div>
      <div class="span8">
        @Html.EnumDropDownListFor(x => x.UserRole, new {@class = "input-block-level"})
        @Html.ValidationMessageFor(x => x.UserRole, null, new {@class = "label label-important"})
      </div>
    </div>
    <div class="row-fluid">
      <div class="span4">
        @Html.LabelFor(x => x.SelectedResponsibleIds)
      </div>
      <div class="span8">
        @Html.ListBoxFor(x => x.SelectedResponsibleIds, Model.ResponsiblesList, new {@class = "input-block-level multiselect"})
        @Html.ValidationMessageFor(x => x.SelectedResponsibleIds, null, new {@class = "label label-important"})
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
    <button class="btn btn-primary" type="submit">Сохранить</button>
  </div>
</form>