﻿/* Main styles
-----------------------------------------------------------*/

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.main-container {
  margin-top: 20px;
  width: 95%;
}

/* Navbar */

.logo {
  height: 60px;
  width: 60px;
}

.navbar-title, .user-block {
  margin-top: 20px;
}

.user-block {
  float: right;
}

.user-block .user-name {
  font-size: 14px;
}

/* Login */

.login-container {
  width: 300px;
  margin: 30px auto 0;
  padding: 1px 15px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form {
  margin: 0;
}

.login-form .control-group {
  width: 300px;
  margin: 15px auto 0;
}

.login-form .control-group.alert {
  width: 250px;
}

.login-form .control-label {
  width: auto;
}

.login-form .controls {
  margin-left: 80px;
}

.login-form .login-persist {
  margin-top: 10px;
}

.login-persist input.checkbox {
  margin-top: 0;
  padding-left: 0;
}

.login-persist label.checkbox {
  display: inline;
  padding-left: 10px;
}

.login-form input[type="submit"] {
  float: right;
  margin-bottom: 15px;
}

/* Index */

.datagrid-modal .row-fluid {
  margin-bottom: 10px;
}

.datagrid-modal textarea,
.datagrid-modal select,
.datagrid-modal input,
.datagrid-modal .input-append,
.datagrid-modal .btn-group {
  margin-bottom: 0 !important;
}

#dialog-commission {
  width: 1130px;
  margin-left: -565px;
}

#dialog-commission .editable-select { height: 100px; }

#dialog-commission .editable-select-input { margin-bottom: 0 !important; }

.attachments-delete-checkbox {
  display: none; 
}

.attachments-delete-btn {
  width: 85px;
  margin-bottom: 10px;
  padding: 4px 10px;
}

.attachments-ref {
  line-height: 30px;
}

#charges-dialog-btn {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

#charges-responsibles {
  width: 100%;
}

.charges-btn,
.control-dates-btn {
  width: 85px;
  padding: 4px 10px;
}

.charges-name-span,
.control-dates-span {
  padding: 4px 0;

  word-wrap: break-word;
}

.control-dates-delete-btn {
  margin-bottom: 10px;
}

/* Bootstrap-grid styles helpers
-----------------------------------------------------------*/

.bootstrap-grid-col-select .dropdown-menu {
  max-width: 180px;
}

.bootstrap-grid-export .dropdown-menu {
  min-width: 90px;
}

.bootstrap-grid-body td {
  white-space: pre-line;
}

/* Bootstrap styles helpers
-----------------------------------------------------------*/

.alert { margin-bottom: 10px; }

.modal form { margin: 0; }

.input-append.input-block-level,
.input-prepend.input-block-level { display: table; }

.input-append.input-block-level .add-on,
.input-prepend.input-block-level .add-on {
  display: table-cell;
  width: 1%; /* remove this if you want default bootstrap button width */
}

.input-append.input-block-level > input,
.input-prepend.input-block-level > input {
  box-sizing: border-box; /* use bootstrap mixin or include vendor variants */
  -moz-box-sizing: border-box; /* for Firefox */
  display: table; /* table-cell is not working well in Chrome for small widths */
  min-height: inherit;
  width: 100%;
}

.input-append.input-block-level > input { border-right: 0; }

.input-prepend.input-block-level > input { border-left: 0; }

.input-block-level textarea.input-block-level { margin-bottom: 0; }

.tooltip {
  position: fixed;
}

/* Styles for validation helpers
-----------------------------------------------------------*/

.field-validation-error {
   margin-top: 0;
   margin-bottom: 0;
}

.field-validation-valid { display: none; }

.validation-summary-valid { display: none; }

.validation-summary-errors > ul {
  margin: 0;
  list-style-type: none;
}