﻿@using CommissionsApplication.WebUI.App_GlobalResources
@using CommissionsApplication.WebUI.Helpers
@{
  Layout = "~/Views/Shared/_Layout.cshtml";
  ViewBag.Title = @Global.AdminLayout_Title;
}

@section styles {
  @RenderSection("styles", false)
}

@section navigation {
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <ul class="nav">
          <li class="@Html.ValueForRouteData("active", "Index", "Management")">
            <a href="@Url.Action("Index", "Management")">Таблица поручений</a>
          </li>
          <li class="@Html.ValueForRouteData("active", "Index", "Users")">
            <a href="@Url.Action("Index", "Users")">Пользователи</a>
          </li>
          @*<li class="@Html.ValueForRouteData("active", "Delivery", "Management")">
            <a href="@Url.Action("Delivery", "Management")">Рассылка</a>
          </li>*@
        </ul>
      </div>
    </div>
  </div>
}

@RenderBody()

@section scripts {
  @RenderSection("scripts", false)
}