﻿<!DOCTYPE html>
<html lang="ru">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  @Styles.Render("~/bundles/style")
  @RenderSection("styles", false)

  <!--[if IE 8]>
    <link rel="stylesheet" href="~/Content/Site.ie8.css">
  <![endif]-->
  <!--[if lte IE 9]>
    <link rel="stylesheet" href="~/Content/Site.ie9.css">
  <![endif]-->
</head>
<body>
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container-fluid">
        <div class="brand logo">
          <img src="~/img/aep_logo.png" width="60" height="60" alt="АО Атомпроект">
        </div>

        <span class="brand navbar-title">@ViewBag.Title</span>

        @Html.Partial("UserBlock")
      </div>
    </div>
  </div>

  @RenderSection("navigation", false)

  <div class="container main-container">
    @RenderBody()
  </div>

  @Scripts.Render("~/bundles/libs")
  @Scripts.Render("~/bundles/app")
  <script>
  @{
    var request = HttpContext.Current.Request;
    var baseUrl = string.Format("{0}://{1}{2}", request.Url.Scheme, request.Url.Authority, Url.Content("~"));
  }

    application("@baseUrl");
  </script>

  @RenderSection("scripts", false)
</body>
</html>