﻿@using CommissionsApplication.WebUI.App_GlobalResources
@model CommissionsApplication.WebUI.Models.Concrete.ErrorModel

<div class="modal-header">
  <h4>@Global.ModalError_Title</h4>
</div>
<form>
  <div class="modal-body">
    @Model.Message
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
  </div>
</form>