﻿@using CommissionsApplication.WebUI.Infrastructure.Auth.Concrete

<div class="user-block">
  @{
    var profile = UserProfile.GetUserProfile();
  }
  @if (profile != null)
  {
    <span class="brand user-name"><i class="icon-user"></i> @profile.Name</span>
    @Html.ActionLink("Выход", "Logout", "Account", new { returnUrl = @Request.Url != null ? @Request.Url.PathAndQuery : string.Empty }, new { @class = "btn btn-danger" })
  }
</div>  