﻿@using CommissionsApplication.WebUI.App_GlobalResources
@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
  ViewBag.Title = @Global.AdminView_Title;
}

@section scripts
{
  <script>
    require(["AdminView", "locales"], function (AdminView, locales) {
      locales.load("@Url.Action("Locales", "Global")").done(function (locales) {
        var view = new AdminView(locales);

        view.render();
      });
    });
  </script>
}

@Html.Hidden("commissions-url", Url.Action("Commissions"))
@Html.Hidden("commission-add-url", Url.Action("CommissionAdd"))
@Html.Hidden("commission-edit-url", Url.Action("CommissionEdit"))
@Html.Hidden("commission-delete-url", Url.Action("CommissionDelete"))
@Html.Hidden("commissions-export-url", Url.Action("CommissionsExport"))
@Html.Hidden("attachments-url", Url.Action("CommissionAttachments"))
@Html.Hidden("attachment-url", Url.Action("Attachment"))
@Html.Hidden("attachment-add-url", Url.Action("AttachmentAdd"))
@Html.Hidden("responsibles-url", Url.Action("ResponsibleNames"))
@Html.Hidden("statuses-url", Url.Action("CommissionStatuses"))

<div id="grid"></div>
<div class="modal fade attachments-modal" id="dialog-attachments" style="display: none" tabindex="-1"></div>