﻿@using CommissionsApplication.WebUI.App_GlobalResources
@{
  ViewBag.Title = @Global.AssistView_Title;
}

@section scripts
{
  <script>
    require(["AssistView", "locales"], function (AssistView, locales) {
      locales.load("@Url.Action("Locales", "Global")").done(function (locales) {
        var view = new AssistView(locales);

        view.render();
      });
    });
  </script>
}

@Html.Hidden("commissions-url", Url.Action("Commissions"))
@Html.Hidden("commissions-export-url", Url.Action("CommissionsExport"))
@Html.Hidden("attachments-url", Url.Action("CommissionAttachments"))
@Html.Hidden("attachment-url", Url.Action("Attachment"))
@Html.Hidden("responsibles-url", Url.Action("AssistResponsibleNames"))
@Html.Hidden("statuses-url", Url.Action("CommissionStatuses"))

<div id="grid"></div>
<div class="modal fade attachments-modal" id="dialog-attachments" style="display: none" tabindex="-1"></div>