﻿@model IEnumerable<CommissionsApplication.WebUI.Models.Concrete.AttachmentModel>

<div class="modal-header">
  <h4>Приложения</h4>
</div>
<div class="modal-body">
    @foreach (var attach in Model)
    {
      <div class="row-fluid">
        <a href="#" class="attachments-ref" data-id="@attach.AttachmentId">@attach.Name</a>
      </div>
    }
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal">Закрыть</button>
</div>