﻿@using CommissionsApplication.WebUI.Helpers
@using CommissionsApplication.Domain.Entities
@model CommissionsApplication.WebUI.Models.Concrete.CommissionEditModel

<div class="modal-header">
  <h4>@ViewBag.Title</h4>
</div>
<form>

@Html.AntiForgeryToken()

@Html.HiddenFor(x => x.CommissionId)
@Html.HiddenFor(x => x.RowVersion)

<div class="modal-body">
  <div class="row-fluid">
    <div class="span6">
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.ControlDates)
        </div>
        <div class="span8">
          <button id="control-dates-dialog-btn" class="btn input-block-level" data-toggle="modal" href="#dialog-control-dates">
            Не выбрано
          </button>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.CommissionStatus)
        </div>
        <div class="span8">
          @Html.EnumDropDownListFor(x => x.CommissionStatus, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.CommissionStatus, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.OutcomeDocument)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.OutcomeDocument, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.OutcomeDocument, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.IncomeDocument)
        </div>
        <div class="span8">
          <div class="input-append input-block-level">
            @Html.TextBoxFor(x => x.IncomeDocument)
            <a class="btn add-on" data-toggle="modal" href="#dialog-attachments-income">
              <i class="icon-download"></i>
            </a>
          </div>
          @Html.ValidationMessageFor(x => x.IncomeDocument, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.IncomeDate)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.IncomeDate, "{0:dd.MM.yyyy}", new {@class = "input-block-level datepicker"})
          @Html.ValidationMessageFor(x => x.IncomeDate, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.Summary)
        </div>
        <div class="span8">
          @Html.TextAreaFor(x => x.Summary, new {@class = "input-block-level", rows = 5})
          @Html.ValidationMessageFor(x => x.Summary, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.Organization)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.Organization, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.Organization, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.Signer)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.Signer, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.Signer, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.Resolution)
        </div>
        <div class="span8">
          @Html.TextAreaFor(x => x.Resolution, new {@class = "input-block-level", rows = 5})
          @Html.ValidationMessageFor(x => x.Resolution, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.ExecutionDate)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.ExecutionDate, "{0:dd.MM.yyyy}", new {@class = "input-block-level datepicker"})
          @Html.ValidationMessageFor(x => x.ExecutionDate, null, new {@class = "label label-important"})
        </div>
      </div>
    </div>
    <div class="span6">
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.ChargeModels)
        </div>
        <div class="span8">
          <button id="charges-dialog-btn" class="btn input-block-level" data-toggle="modal" href="#dialog-charges">
            Не выбрано
          </button>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.RegNumber)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.RegNumber, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.RegNumber, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.CommissionNumber)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.CommissionNumber, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.CommissionNumber, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.ImportanceFactor)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.ImportanceFactor, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.ImportanceFactor, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.DelayFactor)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.DelayFactor, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.DelayFactor, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.DelayInfo)
        </div>
        <div class="span8">
          @Html.TextBoxFor(x => x.DelayInfo, new {@class = "input-block-level"})
          @Html.ValidationMessageFor(x => x.DelayInfo, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.Reason)
        </div>
        <div class="span8">
          @Html.TextAreaFor(x => x.Reason, new {@class = "input-block-level", rows = 5})
          @Html.ValidationMessageFor(x => x.Reason, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.Commentary)
        </div>
        <div class="span8">
          @Html.TextAreaFor(x => x.Commentary, new {@class = "input-block-level", rows = 5})
          @Html.ValidationMessageFor(x => x.Commentary, null, new {@class = "label label-important"})
        </div>
      </div>
      <div class="row-fluid">
        <div class="span4">
          @Html.LabelFor(x => x.ExecutionMark)
        </div>
        <div class="span8">
          <div class="input-append input-block-level">
            @Html.TextBoxFor(x => x.ExecutionMark)
            <a class="btn add-on" data-toggle="modal" href="#dialog-attachments-outcome">
              <i class="icon-download"></i>
            </a>
          </div>
          @Html.ValidationMessageFor(x => x.ExecutionMark, null, new {@class = "label label-important"})
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Закрыть</button>
  <button class="btn btn-primary" type="submit">Сохранить</button>
</div>

<div class="modal fade" id="dialog-attachments-income" data-height="300" style="display: none" tabindex="-1">
  <div class="modal-header">
    <h4>Приложения</h4>
  </div>
  <div class="modal-body">
    <div class="attachments-error"></div>

    @for (var i = 0; i < Model.AttachmentsIncome.Count; i++)
    {
      <div class="row-fluid">
        <div class="span10">
          @Html.HiddenFor(x => x.AttachmentsIncome[i].CommissionId)
          @Html.HiddenFor(x => x.AttachmentsIncome[i].AttachmentId)
          @Html.HiddenFor(x => x.AttachmentsIncome[i].AttachmentType)
          @Html.HiddenFor(x => x.AttachmentsIncome[i].ContentType)
          @Html.HiddenFor(x => x.AttachmentsIncome[i].Name)
          <a href="#" class="attachments-ref" data-id="@Model.AttachmentsIncome[i].AttachmentId">
            @Model.AttachmentsIncome[i].Name
          </a>
        </div>
        <div class="span2">
          @Html.CheckBoxFor(x => x.AttachmentsIncome[i].IsDeleted, new {@class = "attachments-delete-checkbox"})
          <button class="btn btn-danger attachments-delete-btn">Удалить</button>
        </div>
      </div>
    }
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Закрыть</button>
    <span class="btn btn-success fileinput-button">
        <span class="icon-plus icon-white"></span>
        <span>Добавить файлы...</span>
      <input class="attachments-upload" data-type="@Attachment.Type.Income" type="file" name="files[]" multiple>
      </span>
  </div>
</div>

<div class="modal fade" id="dialog-attachments-outcome" data-height="300" style="display: none" tabindex="-1">
  <div class="modal-header">
    <h4>Приложения</h4>
  </div>
  <div class="modal-body">
    <div class="attachments-error"></div>

    @for (var i = 0; i < Model.AttachmentsOutcome.Count; i++)
    {
      <div class="row-fluid">
        <div class="span10">
          @Html.HiddenFor(x => x.AttachmentsOutcome[i].CommissionId)
          @Html.HiddenFor(x => x.AttachmentsOutcome[i].AttachmentId)
          @Html.HiddenFor(x => x.AttachmentsOutcome[i].AttachmentType)
          @Html.HiddenFor(x => x.AttachmentsOutcome[i].ContentType)
          @Html.HiddenFor(x => x.AttachmentsOutcome[i].Name)
          <a href="#" class="attachments-ref" data-id="@Model.AttachmentsOutcome[i].AttachmentId">
            @Model.AttachmentsOutcome[i].Name
          </a>
        </div>
        <div class="span2">
          @Html.CheckBoxFor(x => x.AttachmentsOutcome[i].IsDeleted, new {@class = "attachments-delete-checkbox"})
          <button class="btn btn-danger attachments-delete-btn">Удалить</button>
        </div>
      </div>
    }
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Закрыть</button>
    <span class="btn btn-success fileinput-button">
      <span class="icon-plus icon-white"></span>
      <span>Добавить файлы...</span>
      <input class="attachments-upload" data-type="@Attachment.Type.Outcome" type="file" name="files[]" multiple>
    </span>
  </div>
</div>

<div class="modal fade" id="dialog-charges" data-height="300" style="display: none;" tabindex="-1">
  <div class="modal-header">
    <h4>Ответственные</h4>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span10">
        <select id="charges-responsibles">
          @foreach (var responsible in Model.ResponsiblesList)
          {
            <option value="@responsible.Value">@responsible.Text</option>
          }
        </select>
      </div>
      <div class="span2">
        <button id="charges-add-btn" class="btn btn-success charges-btn">Добавить</button>
      </div>
    </div>
    <div id="charges-list">
      @for (var i = 0; i < Model.ChargeModels.Count; i++)
      {
        <div class="row-fluid">
          <div class="span6 charges-name-span">
            @Html.HiddenFor(x => x.ChargeModels[i].ChargeId, new {@class = "charges-chargeId"})
            @Html.HiddenFor(x => x.ChargeModels[i].ResponsibleId, new {@class = "charges-responsibleId"})
            <span>@Model.ChargeModels[i].ResponsibleName</span>
          </div>
          <div class="span4">
            @Html.TextBoxFor(x => x.ChargeModels[i].ExecutionDate, "{0:dd.MM.yyyy}", new {@class = "input-block-level datepicker charges-executionDate"})
          </div>
          <div class="span2">
            <button class="btn btn-danger charges-btn charges-delete-btn">Удалить</button>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Закрыть</button>
  </div>
</div>

<div class="modal fade" id="dialog-control-dates" data-height="300" style="display: none;" tabindex="-1">
  <div class="modal-header">
    <h4>Контрольный срок</h4>
  </div>
  <div class="modal-body">
    <div class="row-fluid">
      <div class="span10">
        <input id="control-dates-datepicker" class="input-block-level datepicker" type="text">
      </div>
      <div class="span2">
        <button id="control-dates-add-btn" class="btn btn-success control-dates-btn">Добавить</button>
      </div>
    </div>
    <div id="control-dates-list">
      @for (var i = 0; i < Model.ControlDates.Count; i++)
      {
        <div class="row-fluid">
          <div class="span10 control-dates-span">
            @Html.HiddenFor(x => x.ControlDates[i].ControlDateId, new {@class = "control-dates-controlDateId"})
            @Html.HiddenFor(x => x.ControlDates[i].Date, new {@class = "control-dates-date"})
            <span>@Model.ControlDates[i].Date</span>
          </div>
          <div class="span2">
            <button class="btn btn-danger control-dates-btn control-dates-delete-btn">Удалить</button>
          </div>
        </div>
      }
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Закрыть</button>
  </div>
</div>

</form>