﻿@{
  Layout = "~/Views/Shared/_AdminLayout.cshtml";
  ViewBag.Title = "Рассылка";
}

@section scripts
{
  <script>
    require(["DeliveryView"], function (DeliveryView) {
      var view = new DeliveryView();
      view.render();
    });
  </script>
}

@Html.Hidden("delivery-url", Url.Action("DeliverDelayReport"))

<div id="delivery-result">
</div>

<button class="btn btn-danger" id="delivery-btn">
  Отправить письма
</button>