﻿@using CommissionsApplication.WebUI.App_GlobalResources
@model CommissionsApplication.WebUI.Models.Concrete.LoginViewModel

@{
  ViewBag.Title = @Global.LoginView_Title;
}

<div class="login-container">
  @using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal login-form" }))
  {
    @Html.AntiForgeryToken()
    
    if (ViewData.ModelState.ContainsKey("InvalidCredentials"))
    {
      <div class="control-group alert alert-error">
        @Html.ValidationMessage("InvalidCredentials")
      </div>
    }
    <div class="control-group">
      @Html.LabelFor(x => x.Login, new {@class = "control-label"})
      <div class="controls">
        @Html.TextBoxFor(x => x.Login, new {id = "login"})
        <div>
          @Html.ValidationMessageFor(x => x.Login, null, new {@class = "label label-important"})
        </div>
      </div>
    </div>
    <div class="control-group">
      @Html.LabelFor(x => x.Password, new {@class = "control-label"})
      <div class="controls">
        @Html.PasswordFor(x => x.Password, new {id = "password"})
        <div>
          @Html.ValidationMessageFor(x => x.Password, null, new {@class = "label label-important"})
        </div>
      </div>
    </div>
    <div class="control-group login-persist">
      <div class="controls">
        @Html.CheckBoxFor(x => x.IsPersistent, new { @class = "checkbox" })
        @Html.LabelFor(x => x.IsPersistent, new { @class = "checkbox" })
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <input class="btn btn-primary" type="submit" value="Войти"/>
      </div>
    </div>
  }
</div>